numpy==1.26.4
gymnasium==0.29.1
stable-baselines3==2.3.2
sb3-contrib==2.3.0
torch==2.2.2
pyyaml==6.0.1
deap==1.4.1
streamlit==1.32.0
plotly==5.20.0
pandas==2.2.1
tensorboard==2.16.1
pytest==8.1.1
pytest-cov==5.0.0
